<!DOCTYPE html>
<html>
  <%- include('./partial/head.ejs') %>

  <body>
    <%- include('./partial/nav.ejs') %>
    <div class="blogs">
      <h2>All Blogs</h2>
      <% if (blogs.length > 0){ %> <% blogs.forEach(blog =>{ %>
      <div class="single">
        <a href="/blogs/<%= blog._id %>">
        <h3><%= blog.title %></h3>
        <p><%= blog.snippet %></p>
      </a>
      </div>
      <%}) %> <% } else { %>
      <p>noo blogs yet</p>
      <% } %>
    </div>
  </body>
</html>
